<p id="notice"><%= notice %></p>

<h1>Listing Emisoras</h1>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var chart = new Highcharts.Chart({
      chart:{
        renderTo: "emisoras_chart"
      },
      title:{
        text:"Estaciones mas Sintonizadas"
      },
      xAxis:{
        type:"datetime"
      },
      yAxis:{
        title:{
          text: "Visitas"
        }
      },
      series:[{
         pointInterval: <%= 1.day * 1000 %>,
         pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
         data: <%= Emisora.pluck(:visitas) %>
      },{
        pointInterval: <%= 1.day * 1000 %>,
         pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
         data: <%= Emisora.pluck(:top) %>
      }]
       
    });
  });
</script>
<div id="emisoras_chart" style="width:660px; height:400px;"></div>

<table>
  <thead>
    <tr>
      <th>Top</th>
      <th>Radio</th>
      <th>Fecha</th>
      <th>Visitas</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emisoras.each do |emisora| %>
      <tr>
        <td><%= emisora.top %></td>
        <td><%= emisora.radio %></td>
        <td><%= emisora.fecha %></td>
        <td><%= emisora.visitas %></td>
        <td><%= link_to 'Show', emisora %></td>
        <td><%= link_to 'Edit', edit_emisora_path(emisora) %></td>
        <td><%= link_to 'Destroy', emisora, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emisora', new_emisora_path %>
