<%= form_for(@registro) do |f| %>
  <% if @registro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registro.errors.count, "error") %> prohibited this registro from being saved:</h2>

      <ul>
      <% @registro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="medium-6 columns">
      <div class="field">
        <%= f.label "Medio", class: "secondary radius label" %><br>
        <%= f.text_field :media %>
      </div>
    </div>

    <div class="medium-6 columns">
      <div class="field">
        <%= f.label "Canal", class: "secondary radius label" %><br>
        <%= f.text_field :channel %>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="medium-6 columns">
        <div class="field">
          <%= f.label "Usuario", class: "secondary radius label" %><br>
          <%= f.text_field :user %>
        </div>
    </div>
    <div class="medium-6 columns">
      <div class="field">
        <%= f.label "Localizacion", class: "secondary radius label" %><br>
        <%= f.text_field :location %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= f.label "Hora de Inicio", class: "secondary radius label" %>
    <%= f.time_select :h_inicio %>
  </div>

  <div class="field">
    <%= f.label "Hora de finalizacion", class: "secondary radius label" %><br>
    <%= f.time_select :h_final %>
  </div>
 
  <div class="actions">
    <%= f.submit "CREAR", class: "button" %>
  </div>
<% end %>
