<p id="notice"><%= notice %></p>

<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_registros_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<h1>Listing Records</h1>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Media
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :media,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  
  <div>
    Location
    <%= f.text_field(
      :location,
      class: 'filterrific-periodically-observed'
    ) %>

  </div>

  <div>
    User
    <%= f.text_field(
      :starts_with,
      class: 'filterrific-periodically-observed'
    ) %>

  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
  <%= f.submit 'Filtrar'%>
<% end %>

<%= render(
  partial: 'registros/list',
  locals: { registros: @registros }
) %>

<br>

<%= link_to 'New Registro', new_registro_path %>
