<p id="notice"><%= notice %></p>

<div>
  <h3>Import a CSV File</h3>
  <%= form_tag import_registros_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

<h1>Listing Registros</h1>

<script type="text/javascript" charset="utf-8">
  $(function() {
    var chart = new Highcharts.Chart({
      chart:{
        renderTo: "registros_chart",
        type: "column"
      },
      title:{
        text:"Estaciones mas Sintonizadas"
      },
      xAxis:{
        type:"time"
      },
      yAxis:{
        title:{
          text: "Channels"
        },
         tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        column: {
            pointPadding: 0,
            borderWidth: 0,
            groupPadding: 0,
            shadow: false
        }
      },
      series:[{
           /* name: 'Radio',
            data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]

        }, {
            name: 'Television',
            data: [83.6, 78.8, 98.5, 93.4, 106.0, 84.5, 105.0, 104.3, 91.2, 83.5, 106.6, 92.3]

        }, {
            name: 'Internet',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
        }, {
            name: 'Pelicula',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
        }, {
            name: 'Prensa',
            data: [48.9, 38.8, 39.3, 41.4, 47.0, 48.3, 59.0, 59.6, 52.4, 65.2, 59.3, 51.2]
        */
          
       pointInterval: <%= 1.day * 1000 %>,
        pointStart: <%= 3.weeks.ago.to_i * 1000 %>,
        data: <%= Registro.parse(channel) %>
      }]
       
    });
  });
</script>
<div id="registros_chart" style="width:660px; height:400px;"></div>

<table>
  <thead>
    <tr>
      <th>Media</th>
      <th>Channel</th>
      <th>H inicio</th>
      <th>H final</th>
      <th>Location</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registros.each do |registro| %>
      <tr>
        <td><%= registro.media %></td>
        <td><%= registro.channel %></td>
        <td><%= registro.h_inicio %></td>
        <td><%= registro.h_final %></td>
        <td><%= registro.location %></td>
        <td><%= registro.user %></td>
        <td><%= link_to 'Show', registro %></td>
        <td><%= link_to 'Edit', edit_registro_path(registro) %></td>
        <td><%= link_to 'Destroy', registro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Registro', new_registro_path %>
