<h2>Editar Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :avatar, class: 'col-sm-2 control-label'  %>
    <div class="col-sm-6">
        <%= f.file_field :avatar %>
    </div>
  </div>
  
  <div class="field">
    <%= f.label "Correo Electronico", class: "secondary radius label" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "Contrase単a", class: "secondary radius label"%> <i>(Deje este espacio en blanco si no la quiere cambiar)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Confirmar Contrase単a", class: "secondary radius label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "Contrase単a Actual", class: "secondary radius label" %> <i>(Necesitamos su contrase単a actual para aplicar todos los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar", class: "button" %>
  </div>
<% end %>

<h3>Cancelar Mi Cuenta</h3>

<p>Esta infeliz? Cancele su cuenta! <%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button alert" %></p>

<%= link_to "Regresar", :back, class: "button secondary"%>
