<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>HAL</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "jquery-1.4.2.min", "rails" %>
    <script src="http://github.highcharts.com/462cf4/highcharts.js"></script>
    <script src="http://github.highcharts.com/462cf4/highcharts-more.js"></script>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body>
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="<%= profiles_path %>">HAL Proyect</a></h1>
          </li>
           <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <% if user_signed_in? %>
              <li class="round-image-50"><%= image_tag(current_user.avatar.url(:thumb)) %></li>
              <li>
                <a href="<%= profiles_path %>">Mi Perfil</a>
              </li>
              <li>
                <a href="#">Generar Estadisticas</a>
              </li>
              <li>
                <a href="<%= registros_path %>">Ver/Subir Registros</a>
              </li>
              <li>
                <a href="<%= edit_user_registration_path %>">Editar Cuenta</a>
              </li>
              <li class="active"><a href="<%= destroy_user_session_path %>">Log Out</a></li>              
            <% else %>
            <li class="">
              <a href="<%= new_user_registration_path %>">Registrarse!</a>
            </li>
              <li class="">
                <a href="<%= new_user_password_path %>" class="button alert">Olvido Su Contraseña?</a>
              </li>
            <% end %>
          <!-- Left Nav Section -->
        </section>
      </nav>
      
      <div class="row">
        <%= yield %>
      </div> 
  </body>
</html>
