<p id="notice"><%= notice %></p>

<h1>Mi Perfil</h1>


<% @profiles.each do |profile| %>
  <%if profile.user == current_user %>
  <ul class="pricing-table">
    <li class="title"><%= profile.nombre %></li>
    <li class="price"><a class="th" href="<%= edit_user_registration_path %>"><%= image_tag(current_user.avatar.url(:medium))%></a></li>
    <li class="bullet-item"><b>Edad: </b><%= profile.edad %></li>
    <li class="bullet-item"><b>Profesion: </b><%= profile.profesion %></li>
    <li class="bullet-item"><b>Pais: </b><%= profile.pais %></li>
    <li class="bullet-item"><b>Email: </b><%= profile.correo %></li>
  </ul>
  <%= link_to 'Editar Perfil', edit_profile_path(profile), class: "button secondary" %>
  <% end %>
<% end %>

<br>
<% if current_user.profile.nil? %>
  <%= link_to 'Nuevo Perfil', new_profile_path, class: "button secondary" %>
<% end %>