<h1>Revise Sus Datos</h1>

<p>
  <strong>Nombre:</strong>
  <%= @profile.nombre %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @profile.edad %>
</p>

<p>
  <strong>Profesion:</strong>
  <%= @profile.profesion %>
</p>

<p>
  <strong>Pais:</strong>
  <%= @profile.pais %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @profile.correo %>
</p>

<p>
  <strong>Avatar:</strong><br/>
  <%= image_tag(current_user.avatar.url(:medium)) %>
</p>

<%= link_to 'Aceptar', profiles_path, class: "button success" %>
<%= link_to 'Volver a Editar', edit_profile_path(@profile), class: "button alert" %> 
